In [ ]:
import pandas as pd
import os, re

In [ ]:
files = [i for i in os.listdir('./') if re.match('Jumlah', i) is not None]
years = [re.findall('\d+', i)[0] for i in files]
files

['Jumlah Kunjungan Wisatawan Mancanegara per bulan ke Indonesia Menurut Pintu Masuk, 2020.xlsx',
 'Jumlah Kunjungan Wisatawan Mancanegara per bulan ke Indonesia Menurut Pintu Masuk, 2019.xlsx',
 'Jumlah Kunjungan Wisatawan Mancanegara per bulan ke Indonesia Menurut Pintu Masuk, 2021.xlsx',
 'Jumlah Kunjungan Wisatawan Mancanegara per bulan ke Indonesia Menurut Pintu Masuk, 2018.xlsx',
 'Jumlah Kunjungan Wisatawan Mancanegara per bulan ke Indonesia Menurut Pintu Masuk, 2017.xlsx']

In [67]:
def process(path, year):
  df = pd.read_excel(path, skiprows=2)
  df.dropna(inplace=True)
  col = df.columns.to_list()
  col[0] = 'Pintu'
  df.columns = col
  cond = df['Pintu'].str.match('([ABC]\.)|(Jumlah)')
  df = df[cond]
  df = df.replace({'-':pd.NA})
  df.dropna(axis=1, inplace=True)
  df['Tahunan'] = df.iloc[:,1:].astype(int).sum(axis=1, numeric_only=True, skipna=True)
  df['Tahun'] = year
  return df[['Pintu', 'Tahunan', 'Tahun']]

In [68]:
dfs = [process(i, j) for i, j in zip(files, years)]

In [69]:
df = pd.concat(dfs)
df

             Pintu   Tahunan Tahun
0   A. Pintu Udara   3427144  2020
17   B. Pintu Laut   2049202  2020
25  C. Pintu Darat   2629500  2020
32  Jumlah (A+B+C)   8105846  2020
0   A. Pintu Udara   9834706  2019
17   B. Pintu Laut   4160632  2019
25  C. Pintu Darat   2111616  2019
32  Jumlah (A+B+C)  16106954  2019
0   A. Pintu Udara     79077  2021
17   B. Pintu Laut    301341  2021
25  C. Pintu Darat    681114  2021
32  Jumlah (A+B+C)   1061532  2021
0   A. Pintu Udara  10088781  2018
17   B. Pintu Laut   3214420  2018
25  C. Pintu Darat   2507104  2018
32  Jumlah (A+B+C)  15810305  2018
0   A. Pintu Udara   9670655  2017
17   B. Pintu Laut   2782655  2017
25  C. Pintu Darat   1586489  2017
32  Jumlah (A+B+C)  14039799  2017

In [70]:
df.to_csv('gate_num_of_tourist.csv', index=False)