In [40]:
import pandas as pd
import os, re

In [57]:
paths = [i for i in os.listdir('.') if re.match('.*\.xlsx', i) is not None]
years = [re.findall('\d+', i)[0] for i in paths]
paths_years = zip(paths, years)

In [58]:
def process(path, year):
  df = pd.read_excel(path, skiprows=2)
  df = df.dropna()
  df['Tahunan'] = df.mean(axis=1, skipna=True, numeric_only=True)
  col = df.columns.to_list()
  col[0] = 'Is_Pariwisata'
  col[-1] = str(year)
  df.columns = col
  df = df[['Is_Pariwisata', str(year)]]
  df = df.T
  df = df.reset_index()
  cols = df.iloc[0].copy()
  cols['index'] = 'Tahun'
  df = df.iloc[1:].copy()
  df.columns = cols
  return df

In [59]:
dfs = [process(i, j) for i, j in paths_years]

In [60]:
df = pd.concat(dfs)

In [61]:
col = df.columns.to_list()
col[-1] = col[-1] + '_mean'
col[-2] = col[-2] + '_mean'
df.columns = col
df

  Tahun  ... Tingkat Penghunian Kamar Hotel Berbintang_mean
1  2020  ...                                        38.7283
1  2019  ...                                         60.515
1  2016  ...                                        58.2908
1  2017  ...                                        63.2567
1  2018  ...                                        66.8683
1  2021  ...                                        43.3412

[6 rows x 3 columns]

In [62]:
df.to_csv('is_pariwisata_aggregated.csv', index=False)