In [1]:
import pandas as pd
import os

In [2]:
files = [i for i in os.listdir('.') if i.endswith('xlsx')]

In [19]:
def process(path):
  df = pd.read_excel(path, skiprows=1)
  df = df.dropna().T.reset_index()
  col = df.iloc[0].copy()
  col['index'] = 'Tahun'
  col[1] = 'Jumlah Pekerja'
  df = df.iloc[1:]
  df.columns = col
  return df

In [22]:
dfs = [process(i) for i in files]
df = pd.concat(dfs)
df

0 Tahun Jumlah Pekerja
1  2017          10.53
2  2018          11.17
3  2019          11.83
1  2015           9.03
2  2016          10.37

In [24]:
df.to_csv('jumlah pekerjea pada bidang pariwisata.csv', index=False)