In [1]:
import pandas as pd
import os, re

In [2]:
files = [i for i in os.listdir('.') if i.endswith('xlsx')]

In [29]:
def process(file):
  year = re.findall('\d+', file)[0]
  df = pd.read_excel(file, skiprows=2)
  cond = df.iloc[:,0] == 'DKI JAKARTA'
  df = df[cond].T.iloc[1:]
  df.columns = ['penghunian kamar']
  df = df[df['penghunian kamar'] != '-']
  df = df.reset_index()
  df['tanggal'] = df['index'] + '-' + year
  df = df.drop('index', axis=1)
  return df[['tanggal', 'penghunian kamar']]

In [31]:
dfs = [process(i) for i in files]
df = pd.concat(dfs)
df

           tanggal penghunian kamar
0     Januari-2021            41.12
1    Februari-2021            41.53
2       Maret-2021            45.11
3       April-2021            46.59
4         Mei-2021            45.23
5        Juni-2021             51.9
6        Juli-2021            31.72
0     Januari-2018            64.74
1    Februari-2018            62.43
2       Maret-2018            61.77
3       April-2018            62.91
4         Mei-2018            65.61
5        Juni-2018            52.48
6        Juli-2018            78.79
7     Agustus-2018            74.12
8   September-2018            68.33
9     Oktober-2018            68.72
10   November-2018            74.29
11   Desember-2018            68.23
0     Januari-2020            51.37
1    Februari-2020            54.28
2       Maret-2020            36.93
3       April-2020            19.84
4         Mei-2020            24.32
5        Juni-2020            26.47
6        Juli-2020            41.03
7     Agustus-2020            36.18
8   September-2020            38.96
9     Oktober-2020            44.33
10   November-2020            45.63
11   Desember-2020             45.4
0     Januari-2019            69.84
1    Februari-2019            63.37
2       Maret-2019            59.56
3       April-2019            58.92
4         Mei-2019            54.32
5        Juni-2019            50.51
6        Juli-2019            64.15
7     Agustus-2019            58.11
8   September-2019            58.97
9     Oktober-2019            62.67
10   November-2019            64.17
11   Desember-2019            61.59

In [32]:
df.to_csv('tingkat_penghunian_hotel_bintang_jakarta.csv', index=False)