In [1]:
import pandas as pd

In [69]:
base_path = '/content/Kunjungan Wisatawan Mancanegara per bulan Menurut Kebangsaan '
years = [2017, 2018, 2019, 2020, 2021]

In [147]:
def process(path, year):
  df = pd.read_excel(path, skiprows=2)
  df.dropna(inplace=True)
  df = df.replace({'-':pd.NA})
  col = df.columns.to_list()
  col[0] = 'Kebangsaan'
  df.columns = col
  cond = df['Kebangsaan'].str.match(r'(TOTAL)|(A S E A N).*')
  df = df[cond]
  df.dropna(axis=1, inplace=True)
  df['Tahunan'] = df.iloc[:,1:-1].astype(int).sum(axis=1, skipna=True)
  df['Tahun'] = year
  return df[['Tahun', 'Kebangsaan', 'Tahunan']]

In [148]:
dfs = [process(f'{base_path}{i}.xlsx', i) for i in years]

In [151]:
pd.concat(dfs).to_csv('tourist_kebangsaan_concat.csv')