In [5]:
import pandas as pd
import re

In [6]:
PATH = '/content/Proporsi Kontribusi Pariwisata Terhadap PDB.xlsx'

In [7]:
def process(path):
  df = pd.read_excel(path, skiprows=1)
  df.dropna(inplace=True)
  df = df.iloc[:,1:]
  df = df.T
  df = df.reset_index()
  df.columns = ['Tahun', 'Persen']
  return df

In [8]:
df = process(PATH)
df = df.set_index('Tahun')

https://www.cnnindonesia.com/ekonomi/20200226121314-532-478265/menghitung-kontribusi-sektor-pariwisata-bagi-ekonomi-ri

https://katadata.co.id/doddyrosadi/berita/6058264566a4b/menparekraf-kontribusi-pariwisata-ditargetkan-12-persen-dari-pdb

https://s3-kemenparekraf.s3.ap-southeast-1.amazonaws.com/LAKIN_Kemenparekraf_2020_UPDATE_UPLOAD_20082021_da6e5232c6.pdf

In [9]:
df.loc[2018] = 5.25
df.loc[2019] = 4.7
df.loc[2020] = 4

In [10]:
df

       Persen
Tahun
2015     4.25
2016     4.13
2017     4.11
2018     5.25
2019     4.70
2020     4.00

In [11]:
df.to_csv('pdb_kontribusi_wisata.csv')