In [1]:
import pandas as pd
import os, re

In [5]:
files = [i for i in os.listdir('.') if re.match('.*\.xlsx', i) is not None]

In [146]:
def process(file):
  df = pd.read_excel(file, skiprows=2)
  df = df.dropna()
  df = df.T
  df = df.reset_index()
  col = df.iloc[0].copy()
  df = df.iloc[1:].copy()
  df.columns = col
  is_domestic = df[df.columns[0]].astype(str).str.endswith('.1')
  tourist_dict = {True: 'Mancanegara', False:'Domestik'}
  df['Turis'] = is_domestic.map(tourist_dict)
  df['rata-rata lama menginap (Hari)'] = df.loc[:,'Januari':'Desember'].astype(int).mean(axis=1, numeric_only=True)
  df = df.rename(columns={df.columns[0]: 'Tahun'})
  df['Tahun'] = df['Tahun'].astype(str).str.replace('.1', '', regex=False)
  return df[['Tahun', 'Turis', 'rata-rata lama menginap (Hari)']]

In [147]:
dfs = [process(i) for i in files]
df = pd.concat(dfs).sort_values('Tahun')
df

0 Tahun        Turis  rata-rata lama menginap (Hari)
1  2012     Domestik                        1.250000
3  2012  Mancanegara                        1.000000
2  2013     Domestik                        1.250000
4  2013  Mancanegara                        1.000000
1  2014     Domestik                        1.500000
4  2014  Mancanegara                        1.000000
2  2015     Domestik                        1.416667
5  2015  Mancanegara                        1.000000
3  2016     Domestik                        1.166667
6  2016  Mancanegara                        1.000000
1  2018     Domestik                        2.416667
4  2018  Mancanegara                        1.416667
2  2019     Domestik                        2.166667
5  2019  Mancanegara                        1.583333
3  2020     Domestik                        3.666667
6  2020  Mancanegara                        1.666667

In [149]:
df.to_csv('rata-rata-lama-menginap-turis-tahunan.csv', index=False)