In [1]:
import pandas as pd

In [8]:
paths = [
         '/content/Jumlah Devisa Sektor Pariwisata 2015.xlsx',
         '/content/Jumlah Devisa Sektor Pariwisata 2018.xlsx'
]
dfs = [pd.read_excel(i, skiprows=1).dropna().iloc[:,1:].T for i in paths]

In [15]:
df = pd.concat(dfs)
df.columns = ['Devisa ($ miliar)']

[sumber data: Kompas, Menparekraf Sandiaga Sebut Devisa Sektor Pariwisata Menurun](https://travel.kompas.com/read/2021/08/19/153200127/menparekraf-sandiaga-sebut-devisa-sektor-pariwisata-menurun?page=all)

In [16]:
df.loc[2019] = 16.9
df.loc[2020] = 3.2

In [17]:
df

      Devisa ($ miliar)
2015             10.761
2016             11.206
2017             13.139
2018             16.426
2019             16.900
2020              3.200

In [19]:
df.to_csv('devisa_concatenated.csv')